<h2 class="text-3xl font-semibold text-center text-blue-600 mb-6">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-medium text-white" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="mb-6">
    <%= f.submit "Resend confirmation instructions", class: "w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
  </div>
<% end %>

<div class="text-center mt-6">
  <%= render "devise/shared/links", class: "text-blue-600 hover:text-blue-800" %>
</div>
