<h2 class="text-3xl font-semibold text-center text-blue-600 mb-6">Sign Up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="mb-4">
    <%= f.label :email, class: "block text-sm font-medium text-white" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="mb-4">
  <%= f.label :name, class: "block text-sm font-medium text-white"%><br />
  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
</div>


  <div class="mb-4">
    <%= f.label :password, class: "block text-sm font-medium text-white" %>
    <% if @minimum_password_length %>
      <em class="text-sm text-gray-500">(minimum of <%= @minimum_password_length %> characters)</em>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="mb-4">
    <%= f.label :password_confirmation, class: "block text-sm font-medium text-white" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mt-1 block w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500" %>
  </div>

  <div class="mb-6">
    <%= f.submit "Sign up", class: "w-full py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-opacity-50" %>
  </div>
<% end %>

<%= render "devise/shared/links", class: "text-center text-blue-600" %>
