<%= form_with(model: @task, url: task_list_task_path(@task_list, @task), local: true) do |form| %>

  <% if @task.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul class="list-disc ml-6">
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Task Name", class: "font-medium text-gray-300" %>
    <%= form.text_field :name, class: "w-full px-4 py-2 mt-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="form-group">
    <%= form.label :comment, "Task Description", class: "font-medium text-gray-300" %>
    <%= form.text_area :comment, class: "w-full px-4 py-2 mt-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="form-group">
    <%= form.label :status, "Task Status", class: "font-medium text-gray-300" %>
    <%= form.select :status, ["not started", "in progress", "under review", "done"], { include_blank: "Select Status" }, class: "w-full px-4 py-2 mt-2 bg-gray-700 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>

  <div class="flex justify-between gap-4 mt-6">
    <%= form.submit "Save Changes", class: "px-6 py-3 bg-blue-600 text-white rounded-lg shadow-md hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    <%= link_to "Cancel", task_list_task_path(@task_list, @task), class: "px-6 py-3 bg-gray-500 text-white rounded-lg shadow-md hover:bg-gray-400 focus:outline-none focus:ring-2 focus:ring-gray-500" %>
  </div>
<% end %>
