<% content_for :title, "Viewing Task List" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl text-white mb-6 text-center">Viewing Task List</h1>

  <div class="p-4 bg-gray-800 text-white rounded-lg shadow-md mb-8">
    <h2 class="font-bold text-2xl mb-4"><%= @task_list.name %></h2>
  </div>

 
<div class="p-4 bg-gray-800 text-white rounded-lg shadow-md">
  <h3 class="font-bold text-xl mb-4">Tasks</h3>

  <% if @task_list.tasks.any? %>
    <ul class="list-disc pl-6">
      <% @task_list.tasks.each do |task| %>
        <li class="mb-2">
          <%= link_to task.name, task_list_task_path(@task_list, task), class: "text-blue-400 hover:underline" %> - <%= task.status %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-300">No tasks have been added to this list yet.</p>
  <% end %>
</div>


  <div class="mt-4 flex flex-col gap-2 items-center w-full">
    <%= link_to "Add Task", new_task_list_task_path(task_list_id: @task_list.id), class: "w-full py-3 px-6 bg-green-600 text-white rounded-lg shadow-lg hover:bg-green-500 focus:outline-none focus:ring-2 focus:ring-green-500" %>

    <%= link_to "Edit this Task List", edit_task_list_path(@task_list), class: "w-full rounded-md px-4 py-2 bg-yellow-500 hover:bg-yellow-400 text-white font-medium" %>
    <%= link_to "Back to Task Lists", task_lists_path, class: "w-full rounded-md px-4 py-2 bg-blue-600 hover:bg-blue-500 text-white font-medium" %>
    <%= button_to "Delete this Task List", @task_list, method: :delete, class: "w-full rounded-md px-4 py-2 bg-red-600 hover:bg-red-500 text-white font-medium" %>
  </div>
</div>
